<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" />

    <title>flask app</title>

  </head>
  <body>



    <div class='form-holder'>

        <!-- Command Section -->
        <div class="command-section">
            <h2>Command:</h2>
          <div class="command-holder">
            <h4 id="command-generated">Run.sh</h4>
          </div>
        </div>

        <!-- Form Section -->
        <form id="executor-form" class="row g-2">

            <!-- server and port details-->
              <div id='server-detail' class="flex-container">
                <div class="col-md-6 flex-container" style="margin-left: 0px;">
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="server_one" placeholder="Server 1" required>
                    </div>
                    <div class="col-md-2 port">
                        <input type="number" class="form-control" name="port_one" placeholder="Port" min="0" max="65535" required>
                    </div>
                </div>
                <div class="col-md-6 flex-container" style="margin-left: 5%; margin-bottom: 20px;">
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="server_two" placeholder="Server 2" required>
                    </div>
                    <div class="col-md-2 port">
                        <input type="number" class="form-control" name="port_two" placeholder="Port" min="0" max="65535" required>
                    </div>
                </div>
              </div>
            

            <!-- Add Arguments -->
            <div class="flex-container" style="margin: 20px;">
              <h2>Arguments:</h2>
            </div>
            <div class="container checkbox-section">
              <div class="row">
                <div class="col-sm">
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" name="test" class="form-control" placeholder="Test" aria-label="Text input with checkbox">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <input type="number" name="threads" class="form-control" placeholder="Threads" min="0" aria-label="Text input with checkbox">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" name="reqmode" class="form-control" placeholder="Request mode" aria-label="Text input with checkbox">
                  </div>
                </div>
              </div>
            </div>
            <div class="container checkbox-section">
              <div class="row">
                <div class="col-sm">
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" name="env" class="form-control" placeholder="Environment" aria-label="Text input with checkbox">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <input type="email" name="env" class="form-control" placeholder="Email" aria-label="Text input with checkbox">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" name="summary" class="form-control" placeholder="Summary" aria-label="Text input with checkbox">
                  </div>
                </div>
              </div>
            </div>
            

            <div class="flex-container">
              <div class="col-12">
                <h2>Add Custom Arguments:</h2>
                <br>
                <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Value</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>

                  <!-- Additional arguments to be added by user. -->
                  <tbody id="custom-argument">

                  </tbody>

                </table>
              </div>
            </div>

            <div class="flex-container">
              <div class="new-arg">
                <button type="button" id="add" class="btn btn-success">New Argument</button>
              </div>
            </div>
            
            <div class="flex-container">
              <button type="submit" id='execute' class="btn btn-primary btn-actions">Execute</button>
            </div>
            
            <!-- placeholder for downloadable file. -->
            
              <div class="flex-container">

                <div id="download-btn" class="flex-child magenta">

                </div>
                
                <div class="flex-child green">
                  <button id="reset-form" type="button" onclick="resetForm();" class="btn btn-outline-secondary btn-actions">Reset</button>
                </div>

              </div>
            

        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  </body>
</html>