<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" />

    <title>flask app</title>

  </head>
  <body>

    <!-- Command Generated -->
    <div class="command-holder">
        <h2>Command:</h2>
        <h4 id="command-generated">Run.sh</h4>
    </div>

    <div class='form-holder'>

        <form id="executor-form" class="row g-2" method="POST" action="/form-parse">

            <!-- server and port details-->
            <div id='server-detail' class="side-by-side">
                <div class="col-md-6 side-by-side">
                    <div class="col-md-8 server">
                        <input type="text" class="form-control" name="server_one" placeholder="Server 1" required>
                    </div>
                    <div class="col-md-2 port">
                        <input type="number" class="form-control" name="port_one" placeholder="Port" min="0" max="65535" required>
                    </div>
                </div>
                <div class="col-md-6 side-by-side">
                    <div class="col-md-8 server">
                        <input type="text" class="form-control" name="server_two" placeholder="Server 2" required>
                    </div>
                    <div class="col-md-2 port">
                        <input type="number" class="form-control" name="port_two" placeholder="Port" min="0" max="65535" required>
                    </div>
                </div>
            </div>

            <!-- Add Arguments -->
            <div class="row center-aligned">
                 <div class="col-12 arg-detail side-by-side">
                     <h2 class="arg-detail">Arguments:</h2>
                     <br>
                    <div class="align-arg">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="test-check">
                          <label class="form-check-label arg-label" for="test-check">
                            Test:
                            <input type="text" name="test" class="args">
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="thread-check" >
                          <label class="form-check-label arg-label" for="thread-check">
                            Threads:
                            <input type="number" class="args"  name="threads">
                          </label>
                        </div>
                         <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="reqmode-check" >
                          <label class="form-check-label arg-label" for="reqmode-check">
                            Request mode:
                            <input type="text" class="args" name="reqmode">
                          </label>
                        </div>
                    </div>
                     <div class="align-arg">
                         <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="env-check" >
                          <label class="form-check-label arg-label" for="env-check">
                            Environment:
                            <input type="text" class="args" name="env">
                          </label>
                        </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="email-check" >
                          <label class="form-check-label arg-label" for="email-check">
                            Email:
                            <input type="email" class="args"  name="email">
                          </label>
                        </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="summary-check" >
                          <label class="form-check-label arg-label" for="summary-check">
                            Summary:
                            <input type="text" class="args"  name="summary">
                          </label>
                        </div>
                     </div>
                 </div>
            </div>

            <!--Add Custom Arguments.-->
            <div class="row center-aligned">
               <div class="col-12 arg-detail">
                   <h2 class="arg-detail">Add Custom Arguments:</h2>
                   <br>
                  <table class="table table-hover table-dark" id="arg-table">
                     <thead>
                        <tr>
                           <th scope="col">Name</th>
                           <th scope="col">Value</th>
                            <th scope="col"></th>
                        </tr>
                     </thead>

                    <!-- Additional arguments to be added by user. -->
                     <tbody id="custom-argument">

                     </tbody>

                  </table>
                   <button type="button" id="add" class="btn btn-success">New Argument</button>
               </div>
            </div>

            <button type="submit" id='execute' class="btn btn-primary btn-execute">Execute</button>

            <!-- placeholder for downloadable file. -->
            <div id="download-btn">

            </div>

        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  </body>
</html>