body {
    background-color: #212121;
    color: white;
}

th {
    text-align: center;
}

.del-button {
    text-align: center;
    width: 20px;
}

.form-holder {
    margin: 40px 80px 20px 30px;
}

.text-field {
    margin-left: 2%;
}

.port {
    margin-left: 2%;
}

.command-section {
    margin: 5px 30px;
}

.command-holder {
    margin: 45px 5%;
    color: green;
}

.checkbox-section {
    margin: 20px 30px 30px 30px;
}

.new-arg {
    margin-left: auto; 
    margin-right: 0;
}

.flex-container {
    display: flex;
    margin: 5px 30px;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.btn-actions {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}